.logo_sony {
    height: 15px;
}

#hero {
    background-image: url('./../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.returnal_logo {
    height: 40px;
}

.rounded-3 {
    border-radius: 0.6rem !important;
}

.border_bottom_active {
    border-bottom: 1px solid #0d6efd;
}

#it_takes_two {
    background-image: url('./../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.it_takes_two_logo {
    height: 150px;
}

.m_top {
    margin-top: 116px;
}

.ps_plus_logo {
    height: 80px;
}

.bg_grey {
    background-color: rgb(176, 174, 173);
}

.bg_lightgrey {
    background-color: rgb(208, 209, 212);
}

.img_play_plus_diagonal {
    height: 100%;
}

@media screen and (max-width: 768px) {

    .img_diagonal {
        display: none;
    }

}

.bg_blue {
    background-color: rgb(17, 21, 45);
}

.container_custom_sm {
    max-width: 50%;
    margin: 0 auto;
}