.logo_sony {
    height: 15px;
}

#hero {
    background-image: url('./../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.returnal_logo {
    height: 40px;
}

.rounded-3 {
    border-radius: 0.6rem !important;
}