.logo_sony {
    height: 15px;
}

#hero {
    background-image: url('./../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}

.returnal_logo {
    height: 40px;
}

.rounded-3 {
    border-radius: 0.6rem !important;
}

.border_bottom_active {
    border-bottom: 1px solid #0d6efd;
}

#it_takes_two{
    background-image: url('./../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.it_takes_two_logo{
    height: 150px;
}

.m_top{
    margin-top: 116px;
}